<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @pergunta.area %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @pergunta.nivel %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @pergunta.texto %>
</p>

<p>
  <strong>Resposta1:</strong>
  <%= @pergunta.resposta1 %>
</p>

<p>
  <strong>Resposta2:</strong>
  <%= @pergunta.resposta2 %>
</p>

<p>
  <strong>Resposta3:</strong>
  <%= @pergunta.resposta3 %>
</p>

<p>
  <strong>Resposta4:</strong>
  <%= @pergunta.resposta4 %>
</p>

<p>
  <strong>Resposta correta:</strong>
  <%= @pergunta.resposta_correta %>
</p>

<p>
  <strong>Aprovada:</strong>
  <%= @pergunta.aprovada %>
</p>

<p>
  <strong>User:</strong>
  <%= @pergunta.User %>
</p>

<%= link_to 'Edit', edit_pergunta_path(@pergunta) %> |
<%= link_to 'Back', perguntas_path %>
