<section>
  <%= render "navbarhub" %>

  <%= link_to game_path, class: "btn btn-light btn-lg voltar" do %>
  	<i class="fas fa-arrow-left"></i>
  <% end %>

  <div class="sidebar sidebar-vertical pl-4 text-center">
  	<div class="progress-container ml-auto mr-3 mt-2">
			<span class="ch-span">Progresso:</span> <span id="ch-percent">0</span>%

			<div id="ch" class="bar bar-vertical bar-5">
				<div id="ch-progress" class="progress progress-blue"></div>
			</div>
		</div>
	</div>

	<div class="card card-tests mx-6 px-5 pt-5 pb-0 shadow-lg">
		<div class="card-head text-center">
			<h3 class="card-title h1">
				Ciências Humanas
			</h3>
		</div>

		<div class="card-body mt-3">
			<% @cont = 0 %>
			<% @tests.each_with_index do |teste, index| %>
				<% if index % 2 == 0 %>
					<div class="row">
				<% end %>

				<% @classe = "col-5 card p-3 mb-4 shadow text-center" %>
				<% if index % 2 != 0
					@classe += " offset-2"
				end %>
				<% if teste.acertos == 4
					@classe += " finish"
				end %>
				<%= link_to game_ch_test_path(teste.id), id: "teste"+teste.id.to_s, class: @classe do %>
						<div class="card-head">
							<h3 id="teste-titulo" class="card-title h5"><b>Teste <%= teste.id %></b></h3>
						</div>
				<% end %>

				<% if index % 2 != 0 %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</section>

<script type="text/javascript">
  $(".container").addClass("no-container");

  player_id = <%= @player.id %>;
  dataPlayer = <%= @player_json %>;
  update();
</script>
