<section class="pt-5">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="card card-school text-white col-12 col-sm-10 offset-sm-1 px-2 pt-3 pb-0 shadow-lg">
      <div class="card-head">
        <h3 class="text-center">Registrar-se</h3>
      </div>

      <div class="card-body pt-0 pb-1">
        <div class="form-inputs">
          <%= f.input :nome, label: "Nome:", autofocus: true %>
          <%= f.input :login, label: "Login:" %>
          <%= f.input :email, label: "E-mail:" %>
          <%= f.input :data_nascimento, as: :date, label: "Data de nascimento:", start_year: Date.today.year - 100, end_year: Date.today.year, order: [:day, :month, :year] %>
          <%= f.input :password, label: "Senha:", hint: "Mínimo de " + @minimum_password_length.to_s + " caracteres", autocomplete: false %>
          <%= f.input :password_confirmation, label: "Confirmar senha:", hint: "Mínimo de " + @minimum_password_length.to_s + " caracteres", autocomplete: false %>
        </div>

        <div class="actions mt-1 row text-center mt-4">
          <div class="col-sm-auto col-12 order-sm-first">
            <%= link_to "Voltar", home_path, class: "btn btn-danger hvr-wobble-horizontal" %>
          </div>
          <div class="col-sm-auto col-12 ml-auto order-sm-last order-first">
            <%= f.submit "Cadastrar", class: "btn btn-dark hvr-wobble-horizontal" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

<% if alert %>
  <div class="card card-error shadow-xl">
    <div class="card-body">
      <%= alert %>
    </div>

    <div class="close">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <script>
    error();
  </script>
<% end %>

