<section class="px-5 mx-5">
  <div class="card card-school shadow-lg text-white pt-4 px-3 mx-5">
    <div class="card-head">
      <h3 class="text-center mb-0 py-0">Registrar-se</h3>
    </div>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="card-body form-inputs pt-0">
        <%= f.input :nome, label: "Nome:", autofocus: true, required: true, input_html: { class: "form-control mt-0 p-0" }, label_html: { class: "mb-0" }, title: "Obrigatório" %>

        <%= f.input :login, label: "Login:", required: true, input_html: { class: "form-control mt-0 p-0" }, label_html: { class: "mb-0 mt-3" } %>

        <%= f.input :email, label: "E-mail:", required: true, input_html: { class: "form-control mt-0 p-0" }, label_html: { class: "mb-0 mt-3" } %>

        <%= f.input :data_nascimento, label: "Data nascimento:", required: true, input_html: { class: " mt-0 p-0" }, label_html: { class: "mb-0 mt-2" }, order: [:day, :month, :year] %>

        <%= f.input :password, label: "Senha:", required: true, autocomplete: "off", hint: "Mínimo de " + @minimum_password_length.to_s + " caracteres", input_html: { class: "form-control mt-0 p-0" }, label_html: { class: "mb-0 mt-3" } %>

        <%= f.input :password_confirmation, label: "Confirme a senha:", required: true, autocomplete: "off", input_html: { class: "form-control mt-0 p-0" }, label_html: { class: "mb-0 mt-3" } %>

        <div class="actions mt-3 row">
          <%= link_to "Voltar", home_path, class: "btn btn-danger hvr-wobble-horizontal" %>
          <%= f.submit "Cadastrar", class: "btn btn-dark hvr-wobble-horizontal ml-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
