<section class="mt-5 pt-5">
  <div class="card card-school text-white col-12 col-sm-6 offset-sm-3 p-2 pt-5 shadow-lg">
    <div class="card-head mt-2">
      <h1 class="text-center">Acesse sua conta</h1>
    </div>

    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :login, label: "Login:", autofocus: true, autocomplete: false %>
          <%= f.input :password, label: "Senha:", autocomplete: "off" %>
        </div>

        <div class="actions mt-1 text-center">
          <%= f.submit "Entrar", class: "btn btn-dark hvr-wobble-horizontal" %>
        </div>
      <% end %>

      <div class="shared row">
        <%= link_to "Não é cadastrado?", new_registration_path(resource_name) %>
        <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "ml-auto" %>
      </div>
    </div>
  </div>
</section>

<% if alert %>
  <div class="card card-error shadow-xl">
    <div class="card-body">
      <%= alert %>
    </div>

    <div class="close">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <script>
    error();
  </script>
<% end %>
